body {
  background-color: #fafafa;
}
main {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
#limit ul {
  list-style: none;
  padding-left: 0;
}
p {
  margin-left: 1em;
}
h3 {
  margin-left: 1rem;
}
h4 {
  margin-left: 2rem;
}
pre {
  background-color: #f0f0f0;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  width: 100%;
}
hr {
  width: 100%;
}
h2 + div {
  margin-left: 1rem;
}
h3 + div {
  margin-left: 2rem;
}
h4 + div {
  margin-left: 3rem;
}
div p {
  margin: 0.5em 0;
}

@media print {
  @page {
    size: A4 portrait;
  }
  body {
    background-color: #fff;
  }
  main {
    border: none;
    box-shadow: none;
  }
  h2 {
    break-before: column;
  }
}
